In [1]:
import pandas as pd
import numpy as np

In [2]:
sorama = pd.read_csv('csv_sorama_sept.csv', sep = ';', nrows = 5)
sorama

,dateModified,content,deviceId,type,messageType,labels,id,properties,subscriptionId,dateCreated,refEntities
0,2022-08-31T23:00:00.045Z,"{'measurementType': 'LAeq', 'time': '2022-08-3...",2038037637801708742,SoramaDeviceAveragedIntensity,measurement,[],urn:ngsi-ld:sorama:averaged:intensity,[],7,2020-11-18T17:49:48.197Z,[]
1,2022-08-31T23:00:00.053Z,"{'measurementType': 'LAeq', 'time': '2022-08-3...",1461576885502485217,SoramaDeviceAveragedIntensity,measurement,[],urn:ngsi-ld:sorama:averaged:intensity,[],8,2020-11-18T17:49:48.197Z,[]
2,2022-08-31T23:00:00.054Z,"{'measurementType': 'LAeq', 'time': '2022-08-3...",2038037637805925113,SoramaDeviceAveragedIntensity,measurement,[],urn:ngsi-ld:sorama:averaged:intensity,[],9,2020-11-18T17:49:48.197Z,[]
3,2022-08-31T23:00:00.064Z,"{'measurementType': 'LAeq', 'time': '2022-08-3...",1461576885513491657,SoramaDeviceAveragedIntensity,measurement,[],urn:ngsi-ld:sorama:averaged:intensity,[],11,2020-11-18T17:49:48.197Z,[]
4,2022-08-31T23:00:00.065Z,"{'measurementType': 'LAeq', 'time': '2022-08-3...",1461576885513498822,SoramaDeviceAveragedIntensity,measurement,[],urn:ngsi-ld:sorama:averaged:intensity,[],12,2020-11-18T17:49:48.197Z,[]

In [3]:
devID = sorama['deviceId']
s = sorama['content'].str.split(',', n=3, expand = True)
del(sorama) # clearing the Sorama dataframe out of RAM
s = s.rename(columns={0: 'measurementType', 1 :'timestamp', 2:'duration', 3:'value'})
s['timestamp'] = s['timestamp'].str[10:29]
s['date'] = pd.to_datetime(s['timestamp']).dt.date
s['time'] = pd.to_datetime(s['timestamp']).dt.time
s['hour'] = pd.to_datetime(s['timestamp']).dt.hour
s['value'] = s['value'].str.extract('(\d*\.\d+|\d+)', expand = False).astype(float)
s['measurementType'] = s['measurementType'].str[21:25]
s = s[['date', 'time', 'hour','measurementType', 'value']]
df3 = pd.concat([s, devID], axis=1)
df3['value'] = df3['value'].astype('float16') #reducing load on RAM
df3

         date      time  hour measurementType     value             deviceId
0  2022-08-31  22:54:28    22            LAeq  66.87500  2038037637801708742
1  2022-08-31  22:54:28    22            LAeq  55.12500  1461576885502485217
2  2022-08-31  22:54:28    22            LAeq  51.31250  2038037637805925113
3  2022-08-31  22:54:28    22            LAeq  47.40625  1461576885513491657
4  2022-08-31  22:54:28    22            LAeq  42.25000  1461576885513498822

In [4]:

s

         date      time  hour measurementType      value
0  2022-08-31  22:54:28    22            LAeq  66.872369
1  2022-08-31  22:54:28    22            LAeq  55.122246
2  2022-08-31  22:54:28    22            LAeq  51.313637
3  2022-08-31  22:54:28    22            LAeq  47.396630
4  2022-08-31  22:54:28    22            LAeq  42.242716

In [5]:
vinotion = pd.read_csv('csv_vinotion_sept.csv', nrows = 5)
vinotion

,timestamp,cameraId,classification,ruleId,speed,type,id,uuid,dateCreated,dateModified
0,2022-08-31T23:00:08.637Z,wss://10.252.229.12/api/v2/data/main/object,Car,Application/Channel/Count/0/Processing/CountRu...,18.66110,VinotionCorrelatedObjectCountPacket,urn:ngsi-ld:vinotion:correlated:object:count,dec314fe-cc57-4123-89db-ddf438bea71e,2020-11-26T15:39:43.088Z,2022-08-31T23:00:08.771Z
1,2022-08-31T23:02:20.185Z,wss://10.252.229.12/api/v2/data/main/object,Car,Application/Channel/Count/0/Processing/CountRu...,9.19412,VinotionCorrelatedObjectCountPacket,urn:ngsi-ld:vinotion:correlated:object:count,1aba2df2-5f51-4193-9f45-936c402ac270,2020-11-26T15:39:43.088Z,2022-08-31T23:02:20.392Z
2,2022-08-31T23:03:14.172Z,wss://10.252.229.12/api/v2/data/main/object,Car,Application/Channel/Count/0/Processing/CountRu...,16.33610,VinotionCorrelatedObjectCountPacket,urn:ngsi-ld:vinotion:correlated:object:count,e810640d-b911-45aa-ab94-b0a3e169103e,2020-11-26T15:39:43.088Z,2022-08-31T23:03:14.378Z
3,2022-08-31T23:04:16.332Z,wss://10.252.229.12/api/v2/data/main/object,Cycling,Application/Channel/Count/1/Processing/CountRu...,4.35370,VinotionCorrelatedObjectCountPacket,urn:ngsi-ld:vinotion:correlated:object:count,1d3f1013-f956-4785-bbea-61adf2c4c513,2020-11-26T15:39:43.088Z,2022-08-31T23:04:16.481Z
4,2022-08-31T23:04:23.007Z,wss://10.252.229.12/api/v2/data/main/object,Cycling,Application/Channel/Count/1/Processing/CountRu...,1.41900,VinotionCorrelatedObjectCountPacket,urn:ngsi-ld:vinotion:correlated:object:count,2cc62378-eda3-4c02-a8b1-bbe0101f223c,2020-11-26T15:39:43.088Z,2022-08-31T23:04:23.160Z

In [9]:
tno = tno.drop(tno.iloc[:,15:23], axis = 1)
tno['Lat'] = tno['geoPointLocation'].str.extract('(\d*\.\d+|\d+)', expand = False).astype(float)
tno['Lon'] = tno['geoPointLocation'].str[15:].str.extract('(\d*\.\d+|\d+)', expand = False).astype(float)
tno['Date'] = pd.to_datetime(tno['timestamp']).dt.date
tno['Time'] = pd.to_datetime(tno['timestamp']).dt.time
tno
df = tno[['Date', 'Time', 'Lat', 'Lon', 'pm1', 'pm10', 'pm25']]
df

         Date      Time      Lat     Lon   pm1   pm10  pm25
0  2022-08-31  21:30:00  51.4379  5.3582  4.05  11.56  5.08
1  2022-08-31  21:40:00  51.4379  5.3582  4.05   9.84  5.08
2  2022-08-31  21:50:01  51.4379  5.3582  4.05  14.92  5.08
3  2022-08-31  22:00:00  51.4379  5.3582  4.05  12.14  5.08
4  2022-08-31  22:10:00  51.4379  5.3582  4.05   9.12  5.08